/core/vendor/
/core/node_modules/
/core/storage/framework/cache/
/core/storage/framework/sessions/
/core/storage/framework/views/
/core/storage/logs/
/core/.env
/core/.env.backup
/core/.env.production
/core/public/storage
/core/public/build
/core/public/hot
/core/auth.json
/core/Homestead.json
/core/Homestead.yaml
/core/npm-debug.log
/core/yarn-error.log
/assets/admin/push_config.json
/install/database.sql
/core/.phpunit.result.cache
/core/.phpunit.cache/
/core/.fleet/
/core/.idea/
/core/.vscode/
.DS_Store
Thumbs.db
